<div class="education-container container-block">
<h2 class="container-block-title">Certificates</h2>
<div class="item">
    <h4 class="degree">AWS Cloud Practitioner</h4>
    <h5 class="meta">AWS</h5>
    <div class="time">2019</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Professional Scrum Master I</h4>
    <h5 class="meta">Scrum.org</h5>
    <div class="time">2017</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Machine Learning</h4>
    <h5 class="meta">Stanford University on Coursera</h5>
    <div class="time">2015</div>
</div><!--//item-->
</div><!--//education-container-->
