 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">Master's Degree, Computer Science</h4>
    <h5 class="meta">ISTY, Versailles (FR)</h5>
    <div class="time">1997 - 2000</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">University Degree, Computer Science</h4>
    <h5 class="meta">IUT, Reims (FR)</h5>
    <div class="time">1995 - 1997</div>
</div><!--//item-->
</div><!--//education-container-->