<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experience</h2>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Architect</h3>
                            <div class="time">2+ years</div>
                        </div><!--//upper-row-->
                    </div><!--//meta-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Lead Developer, Tech Lead</h3>
                            <div class="time"> 4 years</div>
                        </div><!--//upper-row-->
                    </div><!--//meta-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer</h3>
                            <div class="time">9+ years</div>
                        </div><!--//upper-row-->
                    </div><!--//meta-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Scrum Master</h3>
                            <div class="time">1 year</div>
                        </div><!--//upper-row-->
                    </div><!--//meta-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Scrum Practitioner</h3>
                            <div class="time">5 years</div>
                        </div><!--//upper-row-->
                    </div><!--//meta-->
                </div><!--//item-->
            </section><!--//section-->