<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experience</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Tech Lead & Software Engineer</h3>
                            <div class="time">Jul 2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Serato, Auckland (New Zealand)</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Serato is the world leader on DJ software. I worked on the flagship Serato DJ product within a Scrum team.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Software Engineer</h3>
                            <div class="time"> Jan 2016 - May 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Autodesk, Singapore</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Autodesk is the creator of AutoCAD and other design software. <br/> I worked on Autodesk's software delivery platform (installation, updates) within a Scrum Team.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer</h3>
                            <div class="time">Jun 2014 - Jun 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Serato, Auckland (New Zealand)</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Serato is the world leader on DJ software. <br/> I worked on the flagship Serato DJ product within a Scrum team.</p>  
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Software Engineer</h3>
                            <div class="time">Feb 2014 - May 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Direct Payment Solutions, Auckland (New Zealand)</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Integration of China Union Pay into DPS's payment system (C++).</p>  
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Consultant</h3>
                            <div class="time">Jan 2013 - Nov 2013</div>
                        </div><!--//upper-row-->
                        <div class="company">Self Employed, Paris (France)</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>For OP3FT : Python / GTK prototype.<br/>
                        For Societe Generale CIB : latency improvements on trading software (C++/C#).</p>  
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Lead Developer</h3>
                            <div class="time">Sep 2010 - Dec 2012</div>
                        </div><!--//upper-row-->
                        <div class="company">Natixis CIB, Paris (France)</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Led a scrum team to develop a co-located high frequency trading framework (C++).</p>  
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Software Engineer</h3>
                            <div class="time">Oct 2009 - May 2010</div>
                        </div><!--//upper-row-->
                        <div class="company">Societe Generale CIB, Paris (France)</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Maintenance and optimization on volatility trading and market making automatons (C++/C#).</p>  
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior R&D Engineer</h3>
                            <div class="time">Apr 2009 - Sep 2009</div>
                        </div><!--//upper-row-->
                        <div class="company">Serensia, Paris (France)</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Setup of a software factory, prototyping in Python/Django.</p>  
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Lead Developer</h3>
                            <div class="time">Apr 2007 - Nov 2008</div>
                        </div><!--//upper-row-->
                        <div class="company">Natixis CIB, Paris (France)</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Market data software, trading automatons.</p>  
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer</h3>
                            <div class="time">Mar 2001 - Mar 2007</div>
                        </div><!--//upper-row-->
                        <div class="company">IXIS CIB, Paris (France)</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Market data software, trading automatons.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->