<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experience</h2>
                <div class="experience">
                <div class="left_col">

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Architect</h3>
                            <div class="time">3+ years</div>
                        </div><!--//upper-row-->
                    </div><!--//meta-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Tech Lead</h3>
                            <div class="time"> 6 years</div>
                        </div><!--//upper-row-->
                    </div><!--//meta-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer</h3>
                            <div class="time">8+ years</div>
                        </div><!--//upper-row-->
                    </div><!--//meta-->
                </div><!--//item-->
                </div>

                <div class="right_col">
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Scrum Master</h3>
                            <div class="time">2 years</div>
                        </div><!--//upper-row-->
                    </div><!--//meta-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Scrum Practitioner</h3>
                            <div class="time">6 years</div>
                        </div><!--//upper-row-->
                    </div><!--//meta-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">DevOps</h3>
                            <div class="time">3 years</div>
                        </div><!--//upper-row-->
                    </div><!--//meta-->
                </div><!--//item-->

                </div>
                </div>
            </section><!--//section-->