                <div class="education-container container-block">
                <h2 class="container-block-title">Other Skills</h2>
                <div class="skillset">        
                    <div class="item">
                        <h3 class="level-title">JIRA</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="90%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Jenkins</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="90%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Windows</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="90%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Linux</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="75%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">OSX</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="80%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Java</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="60%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">SQL</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="75%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Machine Learning</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="75%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->

                    <span class="label label-default">JSON</span>
                    <span class="label label-primary">0MQ</span>
                    <span class="label label-success">XML</span>
                    <span class="label label-default">GitHub</span>
                    <span class="label label-warning">Sybase</span>
                    <span class="label label-default">Subversion</span>
                    <span class="label label-warning">Visual Studio</span>
                    <span class="label label-primary">GTest</span>
                    <span class="label label-success">TDD</span>
                    <span class="label label-info">Maven</span>
                    <span class="label label-warning">TCP / UDP</span>
                    <span class="label label-danger">XCode</span>
                    <span class="label label-info">Fusion360</span>
                    <span class="label label-danger">Agile</span>
                    <span class="label label-primary">GitLab</span>
                    <span class="label label-success">MIDI</span>
                    <span class="label label-danger">sqlite</span>

                    <span class="label label-warning">SVM</span>
                    <span class="label label-primary">Classification</span>
                    <span class="label label-success">Neural Networks</span>
                    <span class="label label-info">Matlab</span>
                    <span class="label label-primary">Swig</span>
                    <span class="label label-danger">pybind11</span>
                    <span class="label label-default">Eclipse</span>
                    <span class="label label-warning">protobuf</span>
                    <span class="label label-info">VMWare</span>
                    <span class="label label-success">Artifactory</span>
                    <span class="label label-danger">Ant</span>
                    <span class="label label-warning">Kanban</span>

                </div>  
            </div>
