<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Project Highlights</h2>
                <div class="item">
                    <span class="project-title"><a href="#hook">High-frequency trading automaton framework (2011/2012)</a></span>
                    <span class="project-tagline"><br>I led a team to design and develop a trading automaton framework in a co-located setup.
                                                  <br>Given the small size of the team and the tight deadlines, I have been given the opportunity to contribute on all aspects of the project. From recruitment to hardware choices, software design and overall architecture, in collaboration with other development and system engineering teams. I acted as the team's Scrum Master and elaborated coding standards.
                                                  <br>I authored the lock-free event-based design along with the client API, and as a hands-on developer, contributed code on most of the modules. I also liased with the different stakeholders of the project (IT, support, trading) to align the development with business goals.
                                                  <br>For the first iteration we developed direct market access to Euronext and Liffe markets, along with a FIX connector. Using C++ on Linux with kernel bypass for the networking stack, we achieved outstanding results in terms of market data and order passing latency in production.
                    </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Market data historization platform design (2006/2007)</a></span>
                    <span class="project-tagline"><br>After maintaining this complex market data capture, storage and distribution system for 5 years, I have been given the opportunity to re-design the platform from the ground up.
                                                  <br>In order to attain a high level of fault-tolerance and scalability, I created a very de-coupled design based on simple nodes that were runnable on our different OSes and machines, namely Solaris and Windows.
                                                  <br>A task distribution mechanism managed these nodes which then operated independently.
                                                  The back-end was a Sybase ASE database in a key-value setup. I designed this architecture to be fault-tolerant on all levels (network, task management, processing nodes, databases). Load balancing was automatically achieved by running new nodes. 
                    </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Serato DJ GUI migration to Qt (2014/2015)</a></span>
                    <span class="project-tagline"><br>I did the initial port of most of the platform-specific UI drawing code of Serato's flagship DJ software to Qt5 (DJ has both OSX and Windows versions).
                                                  The goal was to achieve pixel-perfect similarity with the legacy UI, while opening the possibility to introduce QML elements.
                                                  <br>I worked on both legacy UI elements and the creation of new QML elements, as well as keyboard and mouse input, window management and OS interaction.
                                                  Serato DJ's UI is now a full Qt/QML application.
                    </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Building a software factory for Serensia (2009)</a></span>
                    <span class="project-tagline"><br>This fast growing startup had problems delivering customers. I was in charge of building a software factory to streamline the development process, using my SDLC expertise.
                                                  <br>I chose open source software to do so : a customized version of Trac for bug tracking, Jenkins for CI and automation. I helped the team elaborate a branching and merging strategy, and created a tool to generate custom software packages for customers, based on WiX and XSLT.
                                                  <br>I also worked on the design of an automatic update system for existing customers.
                    </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Implementation of Kanban (2012)</a></span>
                    <span class="project-tagline"><br>As my team's co-head and Scrum Master, I reviewed our Scrum methodology that was not satisfactory. The nature of some of our tasks (high priority level 2 support for instance), and constant changes in priorities were our main problems.
                                                  <br>I proposed a mix between Scrum and Kanban that allowed us to spend less time doing estimations and building sprint plannings while still delivering a predictable backlog of features.
                                                  <br>The experiment had positive feedback from both management and engineers, leading to its adoption by the team.
                    </span>
                </div><!--//item-->
            </section><!--//section-->