<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Project Highlights</h2>
                <div class="item">
                    <span class="project-title"><a href="#hook">High-frequency trading automaton framework</a></span> - <span class="project-tagline">Description here.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Historization platform design</a></span> - 
                    <span class="project-tagline">Description here. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Serato DJ GUI migration to Qt</a></span> - <span class="project-tagline">Description here.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Serensia's software factory</a></span> - <span class="project-tagline">Description here.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Real time market data library</a></span> - <span class="project-tagline">Description here.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Implementation of Kanban</a></span> - <span class="project-tagline">Description here.</span>
                </div><!--//item-->
            </section><!--//section-->