<div class="education-container container-block">
    <h2 class="container-block-title">Soft Skills</h2>
    <div class="skillset">
        <span class="label label-primary">Interviewing</span>
        <span class="label label-default">High level estimates and project planning</span>
        <span class="label label-success">Process review and improvements</span>
        <span class="label label-info">Facilitation</span>
        <span class="label label-default">Servant leadership for dev teams</span>
        <span class="label label-warning">Stakeholder management</span>
    </div>
</div>
