<section class="section work-history-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Work History</h2>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">VP of Engineering</h3>
                            <div class="time">Aug 2017 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">XBTO (Remote)</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>XBTO is a major participant on cryptocurrency exchanges, doing mainly prop trading and market making, but also mining and OTC deals. I helped grow the company from 5 to 30 people.<br>
                            <span class="label label-default">C#</span>
                            <span class="label label-danger">.net core</span>
                            <span class="label label-primary">Docker</span>
                            <span class="label label-success">Microservices</span>
                            <span class="label label-info">Linux</span>
                            <span class="label label-warning">Windows</span>
                            <span class="label label-danger">VMWare</span>
                            <span class="label label-default">Cryptocurrencies</span>
                            <span class="label label-primary">GitLab</span>
                            <span class="label label-success">Elastic</span>
                            <span class="label label-default">Consul</span>
                            <span class="label label-danger">Prometheus/Grafana</span>
                        </p>
                    </div>
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Tech Lead & Software Engineer</h3>
                            <div class="time">Jul 2016 - Jul 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Serato, Auckland (New Zealand)</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I worked on the flagship Serato DJ product within a Scrum team. I helped solve synchronisation problems between the Serato DJ software and the Roland DJ808's TR-S drum machine.<br>
                            <span class="label label-default">C++</span>
                            <span class="label label-primary">Qt</span>
                            <span class="label label-success">QML</span>
                            <span class="label label-info">SQL</span>
                            <span class="label label-warning">Windows</span>
                            <span class="label label-danger">OSX</span>
                            <span class="label label-default">MIDI</span>
                            <span class="label label-primary">GitLab</span>
                            <span class="label label-success">Jenkins</span>
                        </p>
                    </div>
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Software Engineer</h3>
                            <div class="time"> Jan 2016 - May 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Autodesk, Singapore</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Developed new features on the software delivery platform (installation, updates) within a Scrum team, as part of Autodesk's transition to a subscription based business model.<br>
                            <span class="label label-default">C++</span>
                            <span class="label label-primary">Windows</span>
                            <span class="label label-success">GitHub</span>
                            <span class="label label-info">Perforce</span>
                            <span class="label label-warning">MFC</span>
                        </p>
                    </div>
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer</h3>
                            <div class="time">Jun 2014 - Jun 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Serato, Auckland (New Zealand)</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Serato is the world leader in DJ software. I worked on porting Serato DJ's UI to Qt on both Windows and OSX, within a Scrum team.<br>
                            <span class="label label-default">C++</span>
                            <span class="label label-primary">Qt</span>
                            <span class="label label-success">QML</span>
                            <span class="label label-warning">Windows</span>
                            <span class="label label-danger">OSX</span>
                            <span class="label label-info">JIRA</span>
                            <span class="label label-warning">Perforce</span>
                        </p>  
                    </div>
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Software Engineer</h3>
                            <div class="time">Feb 2014 - May 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Direct Payment Solutions, Auckland (New Zealand)</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>DPS builds Payment Express, New Zealand's leading payment solution. I worked on the integration of China Union Pay into DPS's payment system.<br>
                            <span class="label label-default">C++</span>
                            <span class="label label-success">Windows</span>
                            <span class="label label-danger">MS-SQLServer</span>
                            <span class="label label-warning">HTML</span>
                        </p>  
                    </div>
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Consultant</h3>
                            <div class="time">Jan 2013 - Nov 2013</div>
                        </div><!--//upper-row-->
                        <div class="company">Self Employed, Paris (France)</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>For OP3FT, I created a Python / GTK UI prototype on Linux. For Societe Generale, I have been hired to improve end to end latency on equity derivatives trading software.<br>
                            <span class="label label-default">C++</span>
                            <span class="label label-primary">C#</span>
                            <span class="label label-danger">Python</span>
                            <span class="label label-info">GTK</span>
                            <span class="label label-warning">Linux</span>
                            <span class="label label-success">Windows</span>
                        </p>
                    </div>
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Lead Developer</h3>
                            <div class="time">Sep 2010 - Dec 2012</div>
                        </div><!--//upper-row-->
                        <div class="company">Natixis CIB, Paris (France)</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I led a scrum team to develop a co-located high frequency trading framework from scratch. We implemented DMA for Euronext & Liffe. I also acted as co-lead of the Trading Automatons team and as Scrum Master.<br>
                            <span class="label label-default">C++</span>
                            <span class="label label-danger">Python</span>
                            <span class="label label-primary">Java</span>
                            <span class="label label-info">TCP/UDP</span>
                            <span class="label label-warning">Linux</span>
                            <span class="label label-success">Git</span>
                            <span class="label label-primary">FIX</span>
                            <span class="label label-default">protobuf</span>
                        </p>  
                    </div>
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Software Engineer</h3>
                            <div class="time">Oct 2009 - May 2010</div>
                        </div><!--//upper-row-->
                        <div class="company">Societe Generale CIB, Paris (France)</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Maintenance and optimization on volatility trading and market making automatons (both UI and core). Helped the team migrate from CVS to Subversion, and to Jenkins as the main CI tool.<br>
                            <span class="label label-default">C++</span>
                            <span class="label label-primary">C#</span>
                            <span class="label label-success">Windows</span>
                            <span class="label label-warning">Subversion</span>
                            <span class="label label-danger">Jenkins</span>
                        </p>  
                    </div>
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior R&D Engineer</h3>
                            <div class="time">Apr 2009 - Sep 2009</div>
                        </div><!--//upper-row-->
                        <div class="company">Serensia, Paris (France)</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Setup of a software factory from scratch (bug tracker, build, CI, packaging and installation), prototyping of an invoicing system in Python/Django.<br>
                        <span class="label label-danger">Python</span>
                        <span class="label label-primary">C#</span>
                        <span class="label label-info">Django</span>
                        <span class="label label-success">Windows</span>
                        <span class="label label-warning">Jenkins</span>
                        <span class="label label-default">VMware</span>
                        <span class="label label-danger">Perforce</span>
                        <span class="label label-primary">MSBuild</span>
                        </p>  
                    </div>
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Lead Developer</h3>
                            <div class="time">Apr 2007 - Nov 2008</div>
                        </div><!--//upper-row-->
                        <div class="company">Natixis CIB, Paris (France)</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I maintained and developed market data software and trading automatons on equity derivatives.
                            I worked on both back end and front ends.
                            I led a small team and designed real-time market data APIs in C++, based on Reuters technology, with Java and Python bindings.<br>
                            <span class="label label-danger">Python</span>
                            <span class="label label-primary">C++</span>
                            <span class="label label-info">Java</span>
                            <span class="label label-success">Windows</span>
                            <span class="label label-warning">Jenkins</span>
                            <span class="label label-default">Linux</span>
                            <span class="label label-info">Subversion</span>
                            <span class="label label-danger">Reuters</span>
                            <span class="label label-primary">Ant</span>
                            <span class="label label-success">Maven</span>
                            <span class="label label-default">Eclipse</span>
                            <span class="label label-info">SWIG</span>
                        </p>  
                    </div>
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer</h3>
                            <div class="time">Mar 2001 - Mar 2007</div>
                        </div><!--//upper-row-->
                        <div class="company">IXIS CIB, Paris (France)</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Market data software on interest rate derivatives.
                           The main project I was in charge of was a tick by tick market data plant.
                           In a DevOps fashion, I maintained and made this system evolve throughout the years, and eventually designed an entirely new architecture to replace the legacy system.
                           I also worked on several end to end projects covering the full range of activities within my team,
                           including STP and contribution for the TradeWeb market, RFQ automatons (core and UI), and a UI for gamma-hedging automatons.<br>
                            <span class="label label-danger">C/C++</span>
                            <span class="label label-primary">C#</span>
                            <span class="label label-info">Perl</span>
                            <span class="label label-success">Windows</span>
                            <span class="label label-warning">Bash</span>
                            <span class="label label-default">Solaris</span>
                            <span class="label label-info">Sybase</span>
                            <span class="label label-danger">SQL</span>
                            <span class="label label-primary">FPML</span>
                            <span class="label label-success">Tibco</span>
                            <span class="label label-default">MFC</span>
                            <span class="label label-primary">HTML</span>
                            <span class="label label-info">WinForms</span>
                        </p>
                    </div>
                </div><!--//item-->
                
            </section><!--//section-->